<main>
  <nav id="leftSideNav">
    <ul>
      
        <li>
            <a href="http://localhost:4200">
                <img class="profilePic" src="../../assets/images/jojo-profile-pic.jpg" alt="profileImage">
                <span>Joe's Agri Supply</span>
            </a>

        </li>
      
        <li>
            <a href="http://localhost:4200/marketplace">
                <img class="profilePic" src="../../assets/images/marketplace-icon.png" alt="profileImage">
                <span>Marketplace</span>
            </a>

        </li>
    </ul>
  </nav>
  <div id="midPostingArea">
    <div>
        <div>
            <form action="">
                <label for=""><img class="profilePic" src="../../assets/images/jojo-profile-pic.jpg" alt=""><input type="text" placeholder="Whatcha wanna sell?"></label>
            </form>

        </div>
        <hr>
        <div>Photo/Video</div>
        
    </div>

  </div>
  <div id="rightSideBar"></div>
</main>
